.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 500px;
    height: 50px;
    position:absolute;
    z-index:1000;
    margin-top:50px;
    margin-left:435px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.alertIn, .alertOut {
    -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}
.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0px, 0px);
    transform: translate3d(100px, 0px, 0px);
    display: block !important;
}
.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
#float-button {
	position: fixed;
	bottom: 8px;
	right: 15px;
	cursor: pointer;
}

.clickableRow {
    cursor: pointer;
}

.noCursor {
    cursor: default;
}

.select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
    }

    .selectize-control > .selectize-dropdown {
      top: 36px;
    }


.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left:100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    background-color: #F9F9F9;
    border-radius: 3px;
}

.dropdown-menu .sub-menu-left {
    left:-98%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    background-color: #F9F9F9;
    border-radius: 3px;
}

.sub-menu li {
    margin: 10px 0px;
    width: 270px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.sub-menu-left li {
    margin: 10px 0px;
    width: 270px;
}

.dropdown-menu li:hover .sub-menu-left {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.ajax-loader {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
}

.ajax-loader-menu {
    z-index: 100;
    position: absolute;
    margin-left: 200px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.scroll-left {
 height: 50px;  
 overflow: hidden;
 position: relative;
 background: #3c8dbc;
 color: white;
 border: 1px solid #3c8dbc;
}
.scroll-left font {
 position: absolute;
 width: 120%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: left;
 font-size: 20px;
 white-space: nowrap;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 35s linear infinite;
 -webkit-animation: scroll-left 35s linear infinite;
 animation: scroll-left 35s linear infinite;
}




/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

.nav-pos {
    float:right;
    
}

@media screen and (max-width: 768px) {
    .nav-pos {
        float:none;
    }
    .sub-menu-left {
        left:100%;
       margin-right:-200px;
    }
}


.profile-pos {
    margin-left:-210px;
}

.activ {
    background-color: #04F;
    color : white !important;
}

.activ :hover {
    background-color: #04F !important;
    color : white !important;
    border-color:none !important;
}

.not-activ {
    color : #888;
}

.not-activ:hover {
    background-color: #00c0ef; 
    color:white;   
    border-color:blue;
}

@media screen and (max-width: 768px) {
    .profile-pos {
         margin-left:50px;
    }
}

.input-amount {
    text-align: right;
    font-size: 14px;
}

.hide-table-pagination-count .ng-table-counts {
  display: none;
}

.level-2 {
    padding-left: 20px !important;
}

.level-3 {
    padding-left: 40px !important;
}

.level-4 {
    padding-left: 60px !important;
}

.level-5 {
    padding-left: 80px !important;
}