
/* Progress Bar Round */ 
    
.progress-wrapper-chart{
            position: relative;
            margin:20px auto;
            font-size: 40px;
        }

        .progress-chart{
            position: absolute;
            color: white;
            font-weight: 200;
            line-height: 1;
        }

 /* ============================================================================= */
