<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>IPB Connect</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>IPB Connect</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span>{{user.fullName}}</span> &nbsp;
                            <i class="fa fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu profile-pos">
                            <!-- User image -->
                            <li class="user-header">
                                <p>
                                    {{user.fullName}} - {{user.userType}}
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="btn btn-primary btn-flat" ng-click="detail(user._id)">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="" ng-click="logout()" class="btn btn-danger btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>

                    </li>

                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MANAGEMENT</li>

                <li class="active treeview user-footer" >
                    <a ui-sref="app.mainmenu"><i href="#" class="fa fa-bar-chart"></i>&nbsp; Home</a>
                </li>

                <li class="treeview">
                    <a style="cursor: pointer; cursor: hand;">
                        <i class="fa fa-users" ></i> <span>Keanggotaan</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="user-footer active" >
                            <a ui-sref="app.listadmin"><i class="fa fa-user-secret"></i>&nbsp; Admin</a>
                        </li>                    
                        <li class="user-footer" >
                            <a ui-sref="app.listanggota"><i class="fa fa-user-plus"></i>&nbsp; Anggota</a>
                        </li>
                        <li class="user-footer" >
                            <a ui-sref="app.listrequestanggota"><i class="fa fa-check-circle"></i>&nbsp; Request Anggota</a>
                        </li>  
                    </ul>
                </li>
                <li class="treeview">
                    <a style="cursor: pointer; cursor: hand;">
                        <i class="fa fa-mortar-board" ></i> <span>Akademik</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="user-footer" >
                            <a ui-sref="app.listfaculty"><i class="fa fa-user-plus"></i>&nbsp; Fakultas</a>
                        </li>
                        <li class="user-footer" >
                            <a ui-sref="app.liststudyprogram"><i class="fa fa-archive"></i>&nbsp; Program Studi</a>
                        </li>    
                    </ul>
                </li>              
                <li class="treeview" >
                    <a ui-sref="app.listevent"><i class="fa fa-newspaper-o"></i>&nbsp; Event</a>
                </li>
                <li class="treeview">
                    <a style="cursor: pointer; cursor: hand;">
                        <i class="fa fa-suitcase" ></i> <span>Lowongan Pekerjaan</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="user-footer" >
                            <a ui-sref="app.listlowongan"><i class="fa fa-file"></i>&nbsp; Lowongan </a>
                        </li>
                        <li class="user-footer" >
                            <a ui-sref="app.listjoblocation"><i class="fa fa-location-arrow"></i>&nbsp;Lokasi Kerja</a>
                        </li>
                    </ul>
                </li>
                <li class="user-footer" >
                    <a ui-sref="app.listmemories"><i class="fa fa-picture-o"></i>&nbsp; Memories</a>
                </li>                                

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <div class="alert alert-{{alert.type}}" ng-repeat="alert in alerts" close="alert.close()" role="alert">{{ alert.msg }}</div>
        <ui-view />
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2016 <a href="">IPB Connect</a> Institut Pertanian Bogor.</strong>
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->

        </div>
    </aside>
    <!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
