<section class="content-header">
    <h1><small><strong>Ganti Password</strong></small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <!-- form start -->
                <form class="form-horizontal" >
                    <div class="box-body">

                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2" style="padding-top: 7px">Password Baru</label>
                            <div class="col-sm-8">
                                <input type="{{inputType}}" class="form-control" id="inputPassword" placeholder="Password Baru" ng-model="form.newPass">
                            </div>
                        </div>


                                                                                   
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <a ui-sref="app.listanggota"   >
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Cancel</button></a>
                        </div>
                        <div class="col-sm-4"></div>

                        <div class="col-sm-3">
                            
                            <input type="submit" class="btn btn-success" ng-click="changepassword()" value="Save"/>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
