<section class="content-header">
    <h1><small><strong>Admin </strong>List </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableAdmin" show-filter="true">
                            <tr ng-repeat="admin in $data" class="clickableRow" ng-click="detail(admin._id)">
                                <td data-title="'Nama'" filter="{fullName: 'text'}">{{admin.fullName}}</td>
                                <td data-title="'NIM'" filter="{nim: 'text'}">{{admin.nim}}</td>
                                <td data-title="'Angkatan'" filter="{batch: 'text'}">{{admin.batch}}</td>
                                <td data-title="'Jurusan'" filter="{Jurusan: 'text'}">{{admin.studyProgramId.name}}</td>
                                <td data-title="'Email'" filter="{email: 'text'}">{{admin.email}}</td>
                                <td data-title="'Gender'" width="8%">{{admin.gender == 'L' ? 'Laki-Laki' : 'Perempuan'}}</td>                        
                            </tr>
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada Admin</div>
                            <div class="col-md-4"></div>
                        </div> 
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
