<section class="content-header">
    <h1><small><strong>Request Anggota </strong>List </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>

                                    <br>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableRequestAnggota" show-filter="true">
                            <tr ng-repeat="anggota in $data" class="clickableRow" >
                                <td data-title="'Nama'" filter="{fullName: 'text'}">{{anggota.fullName}}</td>
                                <td data-title="'NIM'" filter="{nim: 'text'}">{{anggota.nim}}</td>
                                <td data-title="'Angkatan'" filter="{batch: 'text'}">{{anggota.batch}}</td>
                                <td data-title="'Jurusan'" filter="{Jurusan: 'text'}">{{anggota.studyProgramId.name}}</td>
                                <td data-title="'Email'" filter="{email: 'text'}">{{anggota.email}}</td>
                                <td data-title="'Gender'" width="8%">{{anggota.gender == 'L' ? 'Laki-Laki' : 'Perempuan'}}</td>
                                <td align="center" data-title="'Approval'" width="15%">
                                    <button class="btn-danger" ng-click="refuseRequest(anggota._id)">Tolak</button> <button class=" btn-primary" ng-click="approveRequest(anggota._id)">Terima</button>
                                    
                                </td>
                                
                            </tr>
 
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada request anggota</div>
                            <div class="col-md-4"></div>

                         </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
