<section class="content-header">
    <h1><small><strong>Lowongan Pekerjaan </strong>List </small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                        <a href="" class="btn btn-sm btn-success" ui-sref="app.singlelowongan"><i class="fa fa-plus"></i>Tambah Lowongan </a>
                                        <br>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableLowongan" show-filter="true">
                            <tr ng-repeat="lowongan in $data" class="clickableRow" ng-click="detail(lowongan._id)">
                                <td data-title="'Judul'" filter="{title: 'text'}">{{lowongan.title}}</td>
                                <td data-title="'Perusahaan'" filter="{company: 'text'}">{{lowongan.company}}</td>
                                <td  data-title="'Salary minimal'" align="right" filter="{salaryMin: 'text'}">{{lowongan.salaryMin | number : 2}}</td>
                                <td data-title="'lokasi'" >{{lowongan.jobLocationId.name}}</td>
                                <td align="center" data-title="'Pembuat'" >{{lowongan.createdBy.fullName}}</td>
                                
                            </tr>
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada Lowongan</div>
                            <div class="col-md-4"></div>
                        </div>                          
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
