<section class="content-header">
    <h1><small><strong>Program Studi </strong>List </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                        <a href="" class="btn btn-sm btn-success" ui-sref="app.singlestudyprogram"><i class="fa fa-plus"></i>Tambah Program Studi </a>
                                    <br>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableStudyProgram" show-filter="true">
                            <tr ng-repeat="studyProgram in $data" class="clickableRow" ng-click="detail(studyProgram._id)">
                                <td data-title="'Nama Program Studi'" filter="{name: 'text'}">{{studyProgram.name}}</td>
                                <td align="center" data-title="'Pembuat'" >{{studyProgram.createdBy.fullName}}</td>
                                
                            </tr>
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada data Program studi</div>
                            <div class="col-md-4"></div>
                            
                         </div>                        
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
