<section class="content-header">
    <h1><small><strong>Memories </strong>List </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableMemories" >
                            <tr ng-repeat="memories in $data" class="clickableRow" >
                                <td data-title="'Nama Pembuat'" >{{memories.createdBy.fullName}}</td>
                                <td data-title="'Caption'" >{{memories.caption}}</td>
                                <td align="center" data-title="'Preview'"><img ng-click="openLightboxModal(urlPhoto(memories.photo))" class="responsive-img center-align" ng-src="{{urlPhoto(memories.photo)}}"  height="150px" width="250px" /> </td>
                                <td data-title="'Aksi'" align="center"><button class="btn-danger" ng-click="deletePhoto(memories._id)">Delete</button></td> 
                            </tr>
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada Memories</div>
                            <div class="col-md-4"></div>
                        </div>                           
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
