<section class="content-header">
    <h1><small><strong>Anggota </strong>List </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                        <a href="" class="btn btn-sm btn-success" ui-sref="app.singleanggota"><i class="fa fa-plus"></i>Tambah Anggota </a>
                                    <br>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableAnggota" show-filter="true">
                            <tr ng-repeat="anggota in $data" class="clickableRow" ng-click="detail(anggota._id)">
                                <td data-title="'Nama'" filter="{fullName: 'text'}">{{anggota.fullName}}</td>
                                <td data-title="'NIM'" filter="{nim: 'text'}">{{anggota.nim}}</td>
                                <td data-title="'Angkatan'" filter="{batch: 'text'}">{{anggota.batch}}</td>
                                <td data-title="'Jurusan'" filter="{Jurusan: 'text'}">{{anggota.studyProgramId.name}}</td>
                                <td data-title="'Email'" filter="{email: 'text'}">{{anggota.email}}</td>
                                <td data-title="'Gender'" width="8%">{{anggota.gender == 'L' ? 'Laki-Laki' : 'Perempuan'}}</td>
                                
                            </tr>
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada Anggota yang terdaftar</div>
                            <div class="col-md-4"></div>
                        </div>                        
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
