<section class="content-header">
    <h1><small><strong>Event </strong>List </small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div>
                                        <a href="" class="btn btn-sm btn-success" ui-sref="app.singleevent" ><i class="fa fa-plus"></i>Tambah Event </a>
                                        <br>
                                    </div>  
                                </div>

                            </div>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover" ng-table="tableEvent" show-filter="true">
                            <tr ng-repeat="event in $data" class="clickableRow" ng-click="detail(event._id)">
                                <td data-title="'Judul'" filter="{title: 'text'}">{{event.title}}</td>
                                <td data-title="'Alamat Lokasi'" filter="{place: 'text'}">{{event.place}}</td>
                                <td data-title="'Tanggal Mulai'">{{event.endDate | date : 'dd MMMM yyyy'}}</td>
                                <td data-title="'Kontak'" >{{event.contact}}</td>                                                  
                                <td data-title="'Pembuat'" >{{event.createdBy.fullName}}</td>
                                
                            </tr>
                        </table>
                        <div ng-show="showNoData">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">Tidak ada Event</div>
                            <div class="col-md-4"></div>
                        </div>                         
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
