﻿<div class="carousel fade-carousel slide" >
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <div class="modal-content-ipbc">
                        <div class="modal-header-ipbc">
                            <center>
                                <h2  >IPB CONNECT</h2>
                                 <br />
                                <img id="profile-img" class="" src="/img/Logo_IPB.png" width="120px" height="120px"/>
                                </br>
                                </br>
                             </center>
                        </div>
                        <form role="form" ng-submit="loginSubmit()">
                            <div class="modal-body-ipbc">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" ng-model="login.email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required>
                                </div>
                                <div class="checkbox" >
                                    <div align="left">    
                                        <label >
                                            <input type="checkbox"> Ingat saya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer-ipbc">
                                <input type="submit" value="Sign in" class="form-control btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </hgroup>
            </div>
        </div>
    </div>
</div>
