﻿<section class="content">
      
      <div class="row">
        <div class="col-lg-3 col-xs-6" ui-sref="app.liststudyprogram" style="cursor: pointer; cursor: hand;">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{totalFaculty}}</h3>

              <p>Fakultas</p>
            </div>
            <div class="icon">
              <i class="ion ion-university"></i>
            </div>
          </div>
        </div>      
        <div class="col-lg-3 col-xs-6" ui-sref="app.liststudyprogram" style="cursor: pointer; cursor: hand;">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{totalStudyProgram}}</h3>

              <p>Program Studi</p>
            </div>
            <div class="icon">
              <i class="ion ion-university"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6" ui-sref="app.listanggota" style="cursor: pointer; cursor: hand;">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{totalAnggota}}</h3>
              <p>Anggota Terdaftar</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6 " ui-sref="app.listrequestanggota" style="cursor: pointer; cursor: hand;">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{totalRequest}}</h3>
              <p>Request Anggota</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>

      </div>
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="myChart" style="height: 300px; "></canvas>
                      </div><!-- /.chart-responsive -->
                    </div><!-- /.col -->

                  </div><!-- /.row -->
                </div>

              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
</section>
