<section class="content-header">
    <h1><small><strong>Anggota </strong>Form</small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <!-- form start -->
                <form class="form-horizontal" >
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputJudul" class="col-sm-2" style="padding-top: 7px">Nama Lengkap</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputJudul" placeholder="Nama Lengkap" ng-model="form.fullName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputClosedDate" class="col-sm-2" style="padding-top: 7px">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control"  id="inputDescription" placeholder="Email" ng-model="form.email"/>                            
                            </div>
                            <div >
                            </div>
                        </div>
                        <div class="form-group" ng-show='!btnUpdate'>
                            <label for="inputEmail" class="col-sm-2" style="padding-top: 7px">Password</label>
                            <div class="col-sm-8">
                                <input type="{{inputType}}" class="form-control" id="inputEmail" placeholder="Password" ng-model="form.password">
                            </div>
                        </div>
                        <div class="form-group" ng-show='btnUpdate'>
                            <label for="inputEmail" class="col-sm-2" style="padding-top: 7px">Password</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary floating" ng-click="toChangePassword()"><i class="fa fa-gear"></i> Ganti Password</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputJenKel" class="col-sm-2" style="padding-top: 7px">Jenis Kelamin</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" ng-model ="form.gender" value="L">Laki-laki
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model ="form.gender" value="P">Perempuan
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" style="padding-top: 7px">Tanggal Lahir</label>
                            <div class="col-sm-8">
                                <div class="row">
                                  <div class="col-md-4">
                                    <p class="input-group">
                                      <input type="text" placeholder="Tanggal Lahir" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.dateOfBirth" is-open="popup1.opened" readonly  />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </p>
                                   </div> 
                            </div>
                        </div>
                        </div>
                      
                        <div class="form-group">
                            <label for="inputClosedDate" class="col-sm-2" style="padding-top: 7px">NIM</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  id="inputDescription" placeholder="Nomor Induk Mahasiswa" ng-model="form.nim"/>                            
                            </div>
                        </div>                         
                        <div class="form-group">
                            <label for="inputprogramStudy" class="col-sm-2" style="padding-top: 7px">Program Studi</label>
                            <div class="col-sm-8">
                               <ui-select ng-model="form.studyProgram" style="width: 100%;" title="Pilih Program Studi">
                                   <ui-select-match class="uiselect" placeholder="Pilih atau cari Program Studi">{{$select.selected.name}}</ui-select-match>
                                   <ui-select-choices class="uiselect" repeat="st in programStudy | filter: $select.search">
                                     <span ng-bind-html="st.name | highlight: $select.search"></span>
                                   </ui-select-choices>
                                 </ui-select>
                                                     
                            </div>                            
                        </div> 
                        <div class="form-group">
                            <label for="inputAngkatan" class="col-sm-2" style="padding-top: 7px">Angkatan</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="inputAngkatan" placeholder="Angkatan" ng-model="form.batch"/>   
                            </div>
                        </div>                                                    
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2" style="padding-top: 7px">Jenis Anggota</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" ng-model ="form.userType" value="Alumni">Alumni
                                </label>                                
                                <label class="radio-inline">
                                    <input type="radio" ng-model ="form.userType" value="Mahasiswa">Mahasiswa
                                </label>                            
                            </div>
                        </div>   
                        <div class="form-group" ng-show="btnUpdate" >
                            <label for="inputCompany" class="col-sm-2" style="padding-top: 7px">Hak admin</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary floating" ng-click="setAdmin()" ng-show="btnUpdate && !form.isAdmin"><i class="fa fa-edit"></i>Pasang Hak Admin</button>
                                <button type="button" class="btn btn-primary floating" ng-click="unSetAdmin()" ng-show="btnUpdate && form.isAdmin "><i class="fa fa-edit"></i>Cabut Hak Admin</button>                                
                            </div>
                        </div>                                                                                      
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <a ui-sref="app.listanggota"   >
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Cancel</button></a>
                            <button class="btn btn-danger" ng-show="btnUpdate" ng-click="deleteAnggota()"><i class="fa fa-close"></i>&nbsp; Delete</button>

                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-3">
                            
                            <input type="submit" class="btn btn-success" ng-click="saveAnggota()" ng-show="btnSubmit" value="Save"/>                           
                            <button type="button" class="btn btn-warning floating" ng-click="updateAnggota()" ng-show="btnUpdate"><i class="fa fa-edit"></i>Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
