<section class="content-header">
    <h1><small><strong>Program Studi </strong>Form</small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <!-- form start -->
                <form class="form-horizontal" >
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputJudul" class="col-sm-2" style="padding-top: 7px">Nama</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputJudul" placeholder="Nama Program Studi" ng-model="form.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2" style="padding-top: 7px">Fakultas</label>
                            <div class="col-sm-8">
                               <ui-select ng-model="data.faculty" style="width: 100%;" title="Pilih Fakultas">
                                   <ui-select-match class="uiselect" placeholder="Pilih Fakultas">{{$select.selected.name}}</ui-select-match>
                                   <ui-select-choices class="uiselect" repeat="st in faculty | filter: $select.search">
                                     <span ng-bind-html="st.name | highlight: $select.search"></span>
                                   </ui-select-choices>
                                 </ui-select>
                                                     
                            </div>                            
                        </div>  
                                                                                    
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <a ui-sref="app.listanggota"   >
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Cancel</button></a>
                            <button class="btn btn-danger" ng-show="btnUpdate" ng-click="deleteStudyProgram()"><i class="fa fa-close"></i>&nbsp; Delete</button>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-6"></div>
                            <input type="button" class="btn btn-success" ng-click="saveStudyProgram()" ng-show="btnSubmit" value="Save"/> 
                            <button type="button" class="btn btn-warning floating" ng-click="updateStudyProgram()" ng-show="btnUpdate"><i class="fa fa-edit"></i>Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
