<section class="content-header">
    <h1><small><strong>Event </strong>Form</small></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <form class="form-horizontal">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputRoleName" class="col-sm-2" style="padding-top: 7px">Judul</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Judul" ng-model="form.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="padding-top: 7px">Alamat Lengkap</label>
                            <div class="col-sm-8">
                                <input placeholder="Alamat Lengkap" ng-model="form.place" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-2" style="padding-top: 7px"></label>
                            <div class="col-sm-8">
                                <input places-auto-complete placeholder="Lokasi di Google Maps" class="form-control"  on-place-changed="placeChanged()" />
                                <ng-map center="{{latlng}}" zoom="15" on-click="getpos($event)">
                                    <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
                                </ng-map>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" style="padding-top: 7px">Waktu</label>
                            <div class="col-sm-8">
                            <div class="row">
                                <div class='col-sm-4' uib-dropdown is-open="status.isopen">
                                <p class="input-group" >
                                
                                      <input type="text" placeholder="Jam Mulai" class="form-control" value="{{ mytime  | date:'shortTime'}}" readonly/>                                      
                                      <span class="input-group-btn">

                                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ><i class="glyphicon glyphicon-time"></i></button>
                                      </span>


                                      <ul class="dropdown-menu time-picker" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li> <div uib-timepicker ng-model="mytime" ng-change="changed()" show-meridian="ismeridian"></div>
                                        </li>
                                      </ul>
                                    
                                 </p>
                                </div>

                                <div class='col-sm-4' uib-dropdown is-open="status.isopen2">
                                <p class="input-group" >
                                
                                      <input type="text" placeholder="Jam Selesai" class="form-control" value="{{ mytime2  | date:'shortTime'}}" readonly/>                                      
                                      <span class="input-group-btn">

                                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ><i class="glyphicon glyphicon-time"></i></button>
                                      </span>


                                      <ul class="dropdown-menu time-picker" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li> <div uib-timepicker ng-model="mytime2" ng-change="changed()" show-meridian="ismeridian"></div>
                                        </li>
                                      </ul>
                                    
                                 </p>
                                </div>

                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" style="padding-top: 7px">Tanggal</label>
                            <div class="col-sm-8">
                                <div class="row">
                                  <div class="col-md-4">
                                    <p class="input-group">
                                      <input type="text" placeholder="Tanggal Mulai" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.startDate" min="today" datepicker-options="startDateOptions" is-open="popup1.opened"  readonly   />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </p>
                                   </div> 

                                    <div class="col-md-4">
                                    <p class="input-group">
                                      <input type="text" placeholder="Tanggal Akhir" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.endDate" datepicker-options="startDateOptions" is-open="popup2.opened" readonly />
                                      <span class="input-group-btn">
                                        <button id="sameDay" class="btn btn-default" ng-click="open2()" ><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </p>
                                  </div>
                                  <div class="col-md-2" style="margin-left: -25px; margin-top: 5px">
                                
                                    <input type="checkbox" class="filled-in" id="sameDay" ng-model="opt.isSameDay" ng-change="sameDays()" />
                                    <label for="sameDay">Satu Hari</label>
                                  </div>                                  
                            </div>
                        </div>
                        </div>   

                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2" style="padding-top: 7px">Deskripsi</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" id="inputDescription" placeholder="Deskripsi" ng-model="form.description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputContact" class="col-sm-2" style="padding-top: 7px">Kontak</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Kontak" ng-model="form.contact">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPrice" class="col-sm-2" style="padding-top: 7px">Harga</label>
                            <div class="col-sm-3">
                                <input type="number" id="price" class="form-control" id="inputTitle" placeholder="Harga" ng-model="form.price">

                            </div>
                            <div class="col-sm-1" style="margin-left: -25px; margin-top: 5px">
                                
                                <input type="checkbox" class="filled-in" id="gratis" ng-model="opt.isFreeCharge" ng-change="showPrice()" />
                                <label for="gratis">Gratis</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputRoleName" class="col-sm-2" style="padding-top: 7px">Logo</label>
                            <div class="col-sm-8" >
                                <input onchange="angular.element(this).scope().setTrueShowImage()"  type="file" ngf-select ng-model="picture" accept="image/*" ngf-max-size="2MB"  ngf-model-invalid="errorFile">
                            </div>

                            <div ng-if="!showImageInput && dontshow"  class="col-sm-8" >
                            Belum ada logo
                            </div> 
                            
                            <div ng-if="!showImageInput && !dontshow" >
                            <img  ngf-src="urlPhoto(picture)" class="img-thumbnail" height="400px" width="300px" />
                            </div>   

                            <div  ng-if="showImageInput ">
                            <img  ngf-src="picture" class="img-thumbnail" height="400px" width="300px"/>
                            </div>
                        </div>


                    </div>
                
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <a ui-sref="app.listlowongan"   >
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Cancel</button></a>
                            <button class="btn btn-danger" ng-show="btnUpdate" ng-click="deleteEvents()"><i class="fa fa-close"></i>&nbsp; Delete</button>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-6"></div>
                            <input type="submit" class="btn btn-success" ng-click="saveEvents()" ng-show="btnSubmit" value="Save"/> 
                            <button type="button" class="btn btn-warning floating" ng-click="updateEvents()" ng-show="btnUpdate"><i class="fa fa-edit"></i>Update</button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</section>
