<section class="content-header">
    <h1><small><strong>Lowongan </strong>Form</small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputJudul" class="col-sm-2" style="padding-top: 7px">Judul</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputJudul" placeholder="Judul" ng-model="form.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputJudul" class="col-sm-2" style="padding-top: 7px">Subject Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputJudul" placeholder="subject" ng-model="form.subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2" style="padding-top: 7px">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="form.email">
                            </div>
                        </div>                                                  
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2" style="padding-top: 7px">Perusahaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputCompany" placeholder="Perusahaan" ng-model="form.company">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputClosedDate" class="col-sm-2" style="padding-top: 7px">Company Profile</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" id="inputDescription" placeholder="Company Profile" ng-model="form.companyProfile"></textarea>                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2" style="padding-top: 7px">Alamat Perusahaan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputCompany" placeholder="Alamat Perusahaan" ng-model="form.address">
                            </div>
                        </div>    
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2" style="padding-top: 7px">Lokasi kota</label>
                            <div class="col-sm-8">
                               <ui-select ng-model="data.province" style="width: 100%;" title="Pilih lokasi">
                                   <ui-select-match class="uiselect" placeholder="Pilih atau cari Lokasi">{{$select.selected.name}}</ui-select-match>
                                   <ui-select-choices class="uiselect" repeat="st in location | filter: $select.search">
                                     <span ng-bind-html="st.name | highlight: $select.search"></span>
                                   </ui-select-choices>
                                 </ui-select>
                                                     
                            </div>                            
                        </div>  

                        <div class="form-group">
                            <label for="inputJudul" class="col-sm-2" style="padding-top: 7px">Tanggal Tutup</label>
                            <div class="col-sm-8">
                                <div class="row">
                                  <div class="col-md-4">
                                    <p class="input-group">
                                      <input type="text" placeholder="Tanggal Tutup" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.closeDate" is-open="popup1.opened" readonly  />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </p>
                                   </div> 
                                </div>        
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSalary" class="col-sm-2" style="padding-top: 7px">Salary</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="inputSalary" placeholder="Min Salary" ng-model="form.salaryMin">
                            </div> 
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="inputSalaryMax" placeholder="Max Salary" ng-model="form.salaryMax">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputJobQualification" class="col-sm-2" style="padding-top: 7px">Kualifikasi Pekerjaan</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" id="inputDescription" placeholder="Kualifikasi Pekerjaan" ng-model="form.jobQualification"></textarea>                                 
                            </div>
                        </div>  
                        <div class="form-group">
                            <label for="inputJobDescription" class="col-sm-2" style="padding-top: 7px">Deskripsi Pekerjaan</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" id="inputDescription" placeholder="Deskripsi Pekerjaan" ng-model="form.jobDescription"></textarea> 
                            </div>
                        </div>     
                        <div class="form-group">
                            <label for="inputJobLocationName" class="col-sm-2" style="padding-top: 7px">Kelengkapan Dokumen</label>
                            <div class="col-sm-8">
                                
                                <textarea class="form-control" rows="5" id="inputDescription" placeholder="Kelengkapan dokumen harus ada" ng-model="form.file"></textarea>                                 
                            </div>
                        </div>                                                                  
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <a ui-sref="app.listlowongan"   >
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; Cancel</button></a>
                            <button class="btn btn-danger" ng-show="btnUpdate" ng-click="deleteLowongan()"><i class="fa fa-close"></i>&nbsp; Delete</button>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-6"></div>
                            <input type="submit" class="btn btn-success" ng-click="saveLowongan()" ng-show="btnSubmit" value="Save"/> 
                            <button type="button" class="btn btn-warning floating" ng-click="updateLowongan()" ng-show="btnUpdate"><i class="fa fa-edit"></i>Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
